body{
    font-size: 16px;
    color: black;
    background-color: aliceblue;
    font-family: 'Oxigen', sans-serif;
}

#header-nav{
    background-color: darkgray;
    border-radius: 0;
    border: 0;
}

#logo-img{
    background: url("../images/icons/icon2.png") no-repeat;
    background-size: 50px;
    width: 50px;
    height: 50px;
    margin: 10px 15px 10px 0px;
    float: left;
}

footer{
    text-align: center;
    font-size: small;
}

.responsive{
    width: 100%;
}

.navbar-brand h1{
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px 0px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a {
    text-decoration: none;
}

.btn{
    margin: 1%;
}

#bold{
    font-weight: bold;
}

.row{
    margin: 2%;
}

canvas{
    visibility: hidden;
}

#heatmap{
    position: relative;
}

#imgHeatMap{
    position: relative;
    width: 70%;
}

#imgRX{
    width: 70%;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #557c3e; /* Blue */
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
    animation: spin 2s linear infinite;
    align-items: center;
    position: relative;
    visibility: hidden;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

