
@media (orientation:landscape){

    h1 {
        text-align: center;
        border:  2px solid black;
        background-color:aliceblue;
    }
}
@media (orientation:portrait){

    h1 {
        text-align: center;
        border:  2px solid green;
        background-color:gold;
    }
}
    .row{
    display:flex;
}
.column{
    flex:auto;
    text-align: center;
    height: 100%;
    padding: 2%;
}
footer{
    text-align: center;
    font-size: small;
}
.responsive{
    height: auto;
    width: 100%;
}